html {
  box-sizing: border-box;
  font-family: "Sigmar One", cursive;
  line-height: 1.5;
  color: #2f2d13;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  padding: .2em .5em .3em;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
  color: #b20953;
  font-size: 3rem;
}

h2 {
  font-size: 1.875rem;
  color: #b20953;
}

h2 + p {
  font-family: Georgia;
}

img {
  padding: .75em;
}

img + p {
  font-family: Georgia;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: white;
  display: inline-block;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
  font-family: Georgia;
  text-decoration: none;
}

.nav a:hover {
  background-color: #cc1465;
}

footer {
  font-size: .75rem;
  text-align: center;
  background-color: #ffe500;
  font-family: Georgia;
  padding: .75em;
}

.nav .current {
  background-color: #b20953;
}
